#inputitems{
	height : 38px;
	width : 300px;
	/*padding : 20px;*/
	border-radius: 15px;
	padding-left: 28px;		
}
#btn_add{
	height : 35px;
	width : 50px;
	border-radius : 15px;
	/*color : black;*/
	/*border : white;*/
}
#main{
	background-color : #212F3D;
}
.h11, .h22{
	color : white;
	font-family: 'Russo One', sans-serif;
}
.ol{
	color : white;
	font-size : 25px;
	font-family: 'Changa', sans-serif;
	font-weight: bold;
	list-style: none;
}
.li_part:hover{
	font-size : 25px;
	/*transition: 1s; NOOOO NEEED*/
	cursor : context-menu;
	transform: translateX(1em);
	background-color : #212F3D;


}
.li_part:hover .ol{
	font-size : 28px;
	cursor: context-menu;
}
.li_part{
	color : #D1E4E8;
	margin-bottom: 5px;
	background-color : #273746;
	transition: 0.3s;
	transform: translateX(0);
}
.li_part::before{
	content: "\2022";
	color :gold;
	display: inline-block;
	font-weight: bold;
	margin-left : -1em;
	width : 1em;
}

.heading{
	font-family: 'Special Elite', cursive;
}
#clear_data{
	height : 30px;
	width : 60px;
}
.h33{
	color : grey;
}
.end_heading{
	border-bottom : 5px dashed #154360;
}
.start_heading{
	border-top: 5px dashed #154360;
}
.search_bar{
	position: relative;
	margin: 0;
	border : 0;
}
.search_icon{
	position : absolute;
	top : 10px;
}