#inputitems{
	height : 30px;
	width : 300px;
	/*padding : 20px;*/
}
#btn_add{
	height : 35px;
	width : 50px;
	/*color : black;*/
	/*border : white;*/
}
#main{
	background-color : black;
}
.h11, .h22{
	color : white;
	font-family: 'Russo One', sans-serif;
}
.ol{
	color : white;
	font-size : 30px;
	font-family: 'Changa', sans-serif;
	font-weight: bold;
	/*background-color : white;*/
	list-style: none;
}
.li_part{
	color : #D1E4E8;
}
.li_part::before{
	content: "\2022";
	color :gold;
	display: inline-block;
	font-weight: bold;
	margin-left : -1em;
	width : 1em;
}

.heading{
	font-family: 'Special Elite', cursive;
}
#clear_data{
	height : 30px;
	width : 60px;
}
.h33{
	color : grey;
}