.intropage{
	transition: 1s;
	opacity: 1;
}
.storypage1{
	transition: .8s;
	opacity: 0;
	z-index: -1;
}
@media screen and (max-width: 2480px){
	body{
		display: none;
	}
}
@media screen and (max-width: 4080px){
	body{
		display: none;
	}
}
@media screen and (max-width: 1080px){
	body{
		display: block;
	}
}
@media screen and (max-width: 720px){
	body{
		display: block;
	}
}